<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1> Los integrantes de mi familia son...</h1>

{% for persona in integrantes %}
<h3>    El nombre es: {{persona.name}} </h3>
<h3>    Su apellido es: {{persona.lastname}} </h3>
<h5>    Su edad es: {{persona.edad}}
        Nacimiento: {{persona.datebirth}}
        Relación parental: {{persona.relathionship}}</h5>

{% endfor %}
</body>
</html>