<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Este es el inicio de la página de mi familia<h1/>
    <h2>A continuación detallaré los miembros de mi familia<h2/>
        <h5>La fecha de hoy es {{date}}<h5/>
{{integrantes}}
{{date}}
</body>
</html>